header {
  background-color: black;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 100;
}
.home,
.game,
.score {
  background-color: rgb(220, 215, 157);
}

li {
  display: inline-block;
  padding-top: 10px;
}
a {
  padding: 20px;
  color: antiquewhite;
  text-decoration-line: none;
  font-size: 25px;
}
a:hover {
  background-color: azure;
  color: black;
}

.home-header {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
}
.home-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.home-txt {
  padding: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  font-style: oblique;
}
p{
  font-size: x-large;
}
.home-txt p::first-letter {

  color: rgba(214, 30, 137, 0.741);
}
.game-area {
  width: 900px;
  height: 600px;
  border: solid green 10px;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.player-name {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
  color: darkslategray;
}
.player1 {
  width: 80;
  height: 50;
  text-align: center;
  border: solid;
  margin-top: 20px;
  margin-right: 30px;
}
.player2 {
  width: 80;
  height: 50;
  text-align: center;
  border: solid;
  margin-bottom: 20px;
  margin-right: 30px;
}

.table {
  width: 600px;
  height: 500px;
  background-color: darkgreen;
  border-radius: 15%;
  border: 30px solid rgb(126, 18, 18);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.table div {
  /* The Cards*/
  width: 100px;
  height: 130px;
  border: solid;
  background-color: white;
  font-size: x-large;
  font-weight: bold;
}
.table img {
  position: absolute;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}

.table div:nth-child(1),
.table div:nth-child(2),
.table div:nth-child(3),
.table div:nth-child(4),
.table div:nth-child(5) {
  margin-bottom: 100px;
}
.jeton-pile1 {
  position: absolute;
  z-index: 5;
  right: 65%;
  top: 50%;
}
.jeton-pile2 {
  position: absolute;
  right: 70%;
  top: 50%;
  z-index: 5;
}
.black-jtn {
  position: absolute;
  right: 20%;
  top: 50%;
  z-index: 5;
}
.red-jtn {
  position: absolute;
  right: 25%;
  top: 50%;
  z-index: 5;
}
#winner {
  width: 100%;
  text-align: center;
  position: fixed;
  top: 45%;
  z-index: 10;
  font-family: sans-serif;
  font-size: 50px;
  color: rgb(243, 238, 0);
  font-weight: bold;
  animation: animate 1.3s linear infinite;
}
@keyframes animate {
  0% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
.score-header {
  text-align: center;
  text-decoration: underline;
}
.score-table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;

}
td,
th {
  width: 400px;
  font-size: xx-large;
  text-align: center;
  padding: 16px;
}

tr:nth-child(4) { 
  border: solid;
  border-color: red;

}
