html {
    font-size: 62.5%;
    width: 100%;
    font-family: Inter, sans-serif;
}

body {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.button {
    align-items: center;
    background-color: #008080;
    border: 1px solid #01bfbf;
    border-radius: 16px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 1.5rem;
    justify-content: center;
    line-height: 28px;
    max-width: 100%;
    padding: 14px 22px;
    text-decoration: none;
    transition: all .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 30%;
}

.button:active,
.button:hover {
    outline: 0;
}

.button:hover {
    background-color: #FFFFFF;
    border-color: rgba(0, 0, 0, 0.19);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

#add_task {
    width: 30%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
    text-align: center;
}

.disactive {
    background-color: #0080807f;
}

.task-manager {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.task {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.description {
    font-size: 1.5rem;
    text-align: center;

    width: 30%;
    margin: auto;

}

.button-bar {

    display: flex;
    align-items: center;
    width: 30%
}

.date-container {

    width: 30%;
    display: flex;
    flex-direction: column;
}

.date {
    border: 0;
    background-color: inherit;
    font-size: 1.5rem;
    text-align: center;
    outline: none;
}

.onchange {
    border: 0;
    background-color: inherit;
    font-size: 1.5rem;
    text-align: center;
    outline: none;
}

@media (max-width: 768px) {
    .button {
        width: 80%;
    }

    .button-bar {
        flex-direction: column;
        align-items: flex-end;
        width: 15%;
    }

    .button-bar>li {
        min-width: 5.8rem;
        margin-right: 1rem;
    }

    .uncompleted,
    .completed {
        display: flex;
    }

    nav>span {
        height: 8.6rem;
        min-width: 33%;
    }
}

@media (max-width: 400px) {
    .date {
        margin-left: 50%;
    }
}