<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="poker2.css">
</head>
<body>
    <div class="vue-container">
        <div class="table">
            <div class="card-place">
                <card v-for="(card, index) in five_cards" :card="card"></card>
            </div>
            <div class="players">
                <div v-for="(value, index) in players"
                      class="player" 
                      :class="['player-' + (index + 1), {'playing': player_playing === index}]">
                    <div class="bank">
                        <div class="bank-value">{{ value.bank - value.onTable }}</div>
                        <div class="jetons v-10" v-if="(value.bank - value.onTable) / 10 >= 1"></div>
                        <div class="jetons v-5" v-if="(value.bank - value.onTable) / 2 >= 1"></div>
                        <div class="jetons v-1" v-if="(value.bank - value.onTable) >= 1"></div>
                    </div>
                    <div class="avatar" :style="{backgroundColor: value.color || 'dodgerblue'}"></div>
                    <div class="name">{{value.name}}</div>
                    <div class="mise">
                        <div class="mise-value">
                            {{ value.onTable }}
                        </div>
                        <div class="jeton-10">	
                            <div class="jetons v-10" v-for="(n, i) in ((value.onTable - (value.onTable % 10)) / 10)" :style="{top: (-2 + (i * 5)) + 'px'}" v-if="value.onTable / 10 >= 1"></div>
                        </div>
                        <div class="jeton-5">
                            <div class="jetons v-5" v-for="(n, i) in (((value.onTable % 10) - ((value.onTable % 10) % 2)) / 2)" :style="{top: (-2 + (i * 5)) + 'px'}" v-if="value.onTable % 10 && value.onTable % 10 >= 2"></div>
                        </div>
                        <div class="jeton-1">
                            <div class="jetons v-1" v-if="value.onTable % 10 && value.onTable % 2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="bouton" @click="">Refresh</button>
    </div>
    
    
</body>
</html>