html,
body {
  margin: 0;
  padding: 0;
  font-family: "Assistant";
}
body {
  background-color: #1d1d1d;
}
a {
  text-decoration: none;
}

a:-webkit-any-link {
  text-decoration: none;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.nav-bar {
  width: 1140px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: inline-block;
  width: 173px;
}

.nav-list {
  display: inline-block;
  list-style: none;
  margin: 0px;
}

.nav-element {
  font-family: "Assistant";
  font-size: 20px;
  display: inline-flex;
  justify-content: right;
  align-items: center;
  color: #858585;
  width: 173px;
  height: 46px;
  margin-left: 20px;
  transition-duration: 750ms;
}
.nav-element:hover {
  transition-duration: 750ms;
  color: white;
}
