html,
body {
  margin: 0;
  padding: 0;
  font-family: "Assistant";
}
body {
  background-color: #1d1d1d;
}
a {
  text-decoration: none;
}

a:any-link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.nav-bar {
  width: 1140px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background-color: #1d1d1d;
}

.nav-logo {
  display: inline-block;
  width: 173px;
}

.nav-list {
  display: inline-block;
  list-style: none;
  margin: 0px;
}

.nav-element {
  font-family: "Assistant";
  font-size: 20px;
  display: inline-flex;
  justify-content: right;
  align-items: center;
  color: #858585;
  width: 173px;
  height: 46px;
  margin-left: 20px;
  transition-duration: 750ms;
}
.nav-element:hover {
  transition-duration: 750ms;
  color: white;
}

.table {
  position: absolute;
  top: 25%;
  left: auto;
  width: 1140px;
  height: 800px;
  background-image: url(../img/game/table.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.person {
  position: absolute;
  width: 70px;
  height: 70px;
  background: rgba(240, 235, 206, 0.2);
  border-radius: 50%;
  transition-duration: 750ms;
}

.person:hover {
  background: rgba(240, 235, 206, 0.4);
  transition-duration: 750ms;
}

.person:nth-child(1) {
  top: 40px;
  left: 535px;
}

.person:nth-child(2) {
  top: 160px;
  left: 1040px;
}

.person:nth-child(3) {
  top: 570px;
  left: 1040px;
}

.person:nth-child(4) {
  top: 690px;
  left: 535px;
  background-image: url(../img/game/Barack\ Obama.png);
}

.person:nth-child(5) {
  top: 570px;
  left: 30px;
}

.person:nth-child(6) {
  top: 160px;
  left: 30px;
  background-image: url(../img/game/Kim\ Jong\ Un.png);
}

.name {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 170px;
  font-size: 24px;
  text-align: center;
  user-select: none;
  color: #dadada;
  text-shadow: #1d1d1d;
}

.top-person {
  top: -50%;
}
.bottom-person {
  top: 100%;
}

.cards-box {
  width: 80%;
  height: 80%;
  position: relative;
  display: flex;

  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translate(-50%);

  animation: glowing 1500ms infinite;
}
@keyframes glowing {
  0% {
    box-shadow: 0 0 3px #c9a400;
  }
  50% {
    box-shadow: 0 0 110px #fff4c5;
  }
  100% {
    box-shadow: 0 0 3px #c9a400;
  }
}

.cards-box img {
  width: 70px;
  position: relative;
  float: left;
  margin: 5px -40px 5px 0px;
  transition-duration: 750ms;
}

.cards-box img:hover {
  transform: translate(-10px, -35px);
  transition-duration: 300ms;
}

.chips-box {
  position: relative;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translate(-50%);
}

.chips-box img {
  width: 30px;
  position: relative;
  float: left;
  margin-right: -15px;
}

.chips-box img:last-child {
  width: 30px;
  position: relative;
  float: left;
  margin: 0;
}

.person:nth-child(6) .cards-box {
  top: 90%;
  left: 220%;
  transform: rotate(145deg);
}

.person:nth-child(4) .cards-box {
  top: -280%;
}

.person:nth-child(6) .chips-box {
  top: 140%;
  left: 320%;
  transform: rotate(145deg);
}

.person:nth-child(4) .chips-box {
  top: -490%;
}

.winner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  font-size: 70px;
  color: #ffffff57;
  user-select: none;
}
