@import url('https://fonts.googleapis.com/css2?family=Keania+One&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');
body{
width: 100vw;
align-content: center;
height: fit-content;
display: flex;
justify-content: center;
}
.calculator{
display: flex;
justify-content: center;
}
.container{
background: radial-gradient(green,rgb(21, 167, 2));
border: 5px solid forestgreen;
display: flex;
width: 400px;
height: 500px;
align-content: space-around;
border-radius: 5% 5% 20% 20%;
flex-direction: column;
justify-content: center;
}
.top-calc{
display: flex;
flex-direction: row;
text-align: center;
align-content: center;
justify-content: space-between;
align-items: flex-start;
font-family: sans-serif;
width: 80%;
height: 70px;
background:linear-gradient(rgb(71, 71, 71),rgb(131, 130, 130),gray);
border-radius: 20px;
border: 5px solid rgb(87, 87, 87);
color: aliceblue;
margin: 10px 30px;
}
.calc-view{
display: flex;
color: white;
font-size: 2em;
justify-content: center;
line-height: 0.5;
font-family: 'Keania One', cursive;
}
.calc-btn{
display: flex;
flex-direction:row;
justify-content: center;
height: 300px;
}
.right{
display: flex;
flex-direction: column;
text-align: center;
font-size:2em;
font-family: sans-serif;
font-weight: 700;
padding-top: 0%;
align-content: flex-start;
justify-content: space-between;
line-height: 0%;
width: 70px;
height: 280px;
margin: 10px 5px;
}
#right-btn{
background-color: rgb(160, 160, 160);
color: black;
border-radius: 100%;
width: 50px;
height: 50px;
}
#high-btn{
display: flex;
justify-content: center;
background-color: rgb(160, 160, 160);
width: 50px;
height: 80px;
border-radius: 30%;
text-align: center;
line-height: 1;
}
.left{
margin: 10px 5px;
display: flex;
flex-direction: column;
text-align: center;
font-size: 2em;
font-family: sans-serif;
font-weight: 700;
align-items: flex-start;
width: 70px;
height: 250px;
justify-content: space-around;

}
.center-calc{
margin: 10px 5px;
display: flex;
flex-direction: column;
font-family: sans-serif;
font-weight: 900;
justify-content: space-between;
align-content: flex-start;
width: 50%;
height: 300px;
text-align: center;
}
#s-btn, hr{
background-color: rgb(255, 179, 0);
border-radius: 100%;
text-align: center;
align-content: center;
font-size: 0.4em;
font-weight: 900;
width:50px;
height: fit-content;
line-height: 0;
color: black;
}

#left-btn{
background-color: rgb(160, 160, 160);
border-radius: 100%;
text-align: center;
align-content: center;
width: 50px;
height: 50px;
line-height: 0;
}
.first-col{
display: flex;
flex-direction: row;
text-align: center;
flex-flow: wrap;
justify-content: space-evenly;
}
.second{
display: flex;
flex-direction: row;
text-align: center;
flex-flow: wrap;
justify-content: space-evenly;
}
.third{
display: flex;
flex-direction: row;
text-align: center;
flex-flow: wrap;
justify-content: space-evenly;
}
.forth{
display: flex;
flex-direction: row;
text-align: center;
flex-flow: wrap;
justify-content: space-evenly;
}
.fifth{
display: flex;
flex-direction: row;
text-align: center;
flex-flow: wrap;
justify-content: space-evenly;
}
#center-btn{
width: 60px;
background-color: rgb(0, 0, 0);
color: white;
border-radius: 20%;
font-size: 1.5em;
height: 50px;
justify-content: space-between;
align-items: flex-start;
padding: 0px 0px;
line-height: 0px;
}
#center-bottom{
background-color: rgb(160, 160, 160);
width: 190px;
height: 50px;
border-radius: 30px;
text-align: center;
justify-content: space-around;
display: flex;
font-size: 1.8em;
line-height: 0;
}
