.calculator_area {
    width: 350px;
    height: 600px;
    outline: solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    background-color: rgb(43, 255, 0);
    border-radius: 10%;
    margin-left: 10em;
}

.buttons {
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

.screen {
    outline: solid;
    height: 50px;
    width: 250px;
    background-color: azure;
    font-size: 50px;
    text-align: end;
    border-radius: 5%;
    margin-top: 5px;
}

.small_screen {
    outline: solid;
    height: 20px;
    width: 100px;
    background-color: rgb(80, 78, 78);
    border-radius: 5%;
    margin-left: 9em;
}

.round {
    border-radius: 45%;
    width: 60px;
    height: 60px;
    box-shadow: 0 9px #999;
    text-align: center;
    font-size: 35px;
    margin: 4px;
    font-weight: bold;
    background-color: grey;
}

.numbers {
    border-radius: 20%;
    width: 60px;
    height: 60px;
    box-shadow: 0 9px #999;
    text-align: center;
    font-size: 40px;
    margin: 4px;
    font-weight: bold;
    color: white;
    background-color: black;
}

#plusminus {
    font-size: 25px;
}

.round_orange {
    border-radius: 45%;
    width: 60px;
    height: 60px;
    box-shadow: 0 9px #999;
    text-align: center;
    font-size: 25px;
    margin: 4px;
    font-weight: bold;
    background-color: orange;
}

.plus {
    border-radius: 20%;
    width: 60px;
    height: 100px;
    box-shadow: 0 9px #999;
    text-align: center;
    font-size: 40px;
    margin: 4px;
    font-weight: bold;
    background-color: grey;
}

.equal {
    border-radius: 20%;
    width: 200px;
    height: 60px;
    box-shadow: 0 9px #999;
    text-align: center;
    font-size: 40px;
    margin: 4px;
    font-weight: bold;
    background-color: grey;
}

.numbers:hover {
    background-color: aqua;
}

.round_orange:hover {
    background-color: aqua;
}

.plus:hover {
    background-color: aqua;
}

.equal:hover {
    background-color: aqua;
}

.round:hover {
    background-color: aqua;
}