h1 {
    text-align: center;
    text-decoration: underline;

}

h1.shadow {
    position: relative;
    bottom: 60px;
    color: rgba(0, 0, 0, 0.177);


}

img.logo {
    position: absolute;
    top: 10px;
    width: 100px;
    left: 20px;
}

#first {
    border: 3px double black;
    height: 100px;
    width: auto;
    text-align: center;
}

div.aContainer {
    display: flex;
    border: 3px double black;
    justify-content: space-around;
    height: 50px;
}

div.aContainer>div {
    position: relative;
    top: 15px;
}

div.bContainer {
    display: flex;
    border: 3px double black;
    justify-content: space-around;
    height: 280px;
    width: 1200px;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
    left: 100px;
}

div.bContainer>div {
    position: relative;
    top: 15px;
}
div.radioContainer{
    display: flex;
    justify-content: space-between;
   
    height: 100px;
    width: 1000px;
}
div.radioContainer>div {
    position: relative;
    top: 15px;
}

div.cContainer{
    display: flex;
    border: 3px double black;
    justify-content: space-around;
}