body {
    color: white;
}
table{
    width: 10px;
    border-color: purple;

}
th, td{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;

}
#Underline3 {
    text-decoration: underline;
    text-align: left;
}
#Italic1 {
    text-decoration:italic;
}
#Bold2 {
    text-decoration: bold;
}
#RowA {
    background-color: red;
    border-color: green;
}
#RowB {
    background-color: green;
    border-color: green;
}
#RowC {
    background-color: blue;
    border-color: green;
}