@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    width: auto;
    height: auto;
    background-image: url('assets/background.jpg');
    color: #fff;
}

h1 {
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-weight: 600;
    
}

h3 {
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-weight: 600;
}

.container {
    margin: auto;
    max-height: 40%;
    width: 70%;
    overflow: auto;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 100px;
}

.container header{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container header h3 {
    margin: 1% auto 1% auto;
}

.all-tasks {
    display: flex;
    margin: auto;
    flex-direction: column;
    max-height: 400px;
    overflow: auto;
}



.task_container {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap ;
    font-family: 'Brush Script MT', cursive;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin-top: 1%;
    margin-bottom: 1%;
    width: 80%;
    cursor: pointer;
    border: 1px solid rgb(163, 163, 163);
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    opacity: 0.9;
    
}

.task_container:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .task_container {
    padding: 0.25em 0.75em;
  }
}

.task_container div:nth-child(1){
    width: 20%;
}

.task_container div:nth-child(2){
    width: 40%;
}

.task_container div:nth-child(1){
    width: 20%;
}

.sub_container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5%;
    height: 30%;
    width: 60%;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 100px;
    overflow: auto;
}

.sub_container .sub-title {
    width: 20%;
}

.sub-container .task_container .sub-remaining-time {
    width: 50%;
}

/* Input fields */
.input_field {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 0.5%;
    width: 80%;
    justify-content: space-evenly;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 60px;
    margin-bottom: 2%;
}

.input_field input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.5;
    max-width: 12%;
    max-height: 60%;
    text-align: center;
}

.input-field input:focus {
    outline: none;
    border-color: rgb(46, 46, 46);
  }

.input-field input[type=sumbit] {
    width: 200px;
    cursor: pointer;
    display: none;
}
  
.plus_btn {
    font-size: larger;
    width: 5%;
    opacity: 0.2;
    cursor: pointer;
}

.plus_btn:hover {
    outline: none;
    border-color: rgb(46, 46, 46);
}
