
body {
    text-align: center;
    background-color: lightgrey;
    font-weight: bold;
  }
  #Add_task{
    background-color: cornflowerblue;
    border-radius: 20px;
    font-size: larger;
  }
  button{
    background-color: cornflowerblue;
    border-radius: 20px;
  }
  