* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #7d9d9c;
  color: #576f72;
  font-family: "roboto", sans-serif;
}
.container {
  position: absolute;
  padding-top: 50px;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
  max-width: 800px;
  min-width: 400px;
}
.card {
  border-radius: 25px;
  background-color: #f0ebe3;
  overflow: hidden;
  margin: 30px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
}
.card-header {
  padding: 10px 20px;
  font-size: x-large;
  background-color: #e4dccf;
}
.card-body {
  padding: 10px;
}
.help {
  padding-top: 5px;
  padding-left: 15px;
  font-size: smaller;
  color: #7d9d9c;
}
input[type="text"] {
  border: none;
  border-radius: 20px;
  font-family: "roboto", sans-serif;
  font-size: large;
  background-color: #fff9f0;
  color: #576f72;
  width: 100%;
  padding: 0 10px;
}
input[type="text"]:focus {
  outline: none;
}
#task-form {
  display: flex;
  flex-wrap: nowrap;
}
#add-task {
  font-family: "roboto", sans-serif;
  margin-left: 20px;
  border-radius: 20px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  width: 120px;
  height: 30px;
  border: none;
  color: #e4dccf;
  background-color: #576f72;
  font-size: large;
}
#add-task:hover {
  background-color: #4f6467;
  cursor: pointer;
}
.tasks-header {
  font-size: large;
  margin: 10px;
  font-style: italic;
  color: #7d9d9c;
}
.tasks {
  padding: 10px;
}
.delete {
  height: 25px;
  cursor: pointer;
}
.delete:hover {
  filter: brightness(80%);
}
.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  font-size: large;
}
.task-content {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  overflow: hidden;
}
.task-text {
  display: inline;
}
input[type="checkbox"] {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #fff9f0;
  border-color: #576f72;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}
.tasks-complited {
  text-decoration: line-through;
  color: #617b7f;
}
