.body_home_page {
    background-image:url("/assaignments/hackeru_student_assignments/HTML\ -\ borderbox-\ display-postion-\ color/images/Ultimate-Texas-Holdem-2-scaled.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.game_page{
    background-image: url("/assaignments/hackeru_student_assignments/HTML\ -\ borderbox-\ display-postion-\ color/images/189-1899126_casino-poker-poker-table-1080p.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}

.h1_home_page {
    color: red;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.p_home_page{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
   
}
    
.ul {
    list-style-type: none;
    margin: 0 ;
    padding: 6px;
    background-color:black;
    font-size: 25px;
    font-family: Arial;
  }
  
  li  {
    display: inline;
  }
  li a {
    color: grey;
  }
  
  li a:hover {
    background-color: #555;
    color: white;
    
  }

  .winner{
    margin-left:-13em;
    font-size: 20px;
    font-weight: bold;
    color:black;
    font-family: Arial, Helvetica, sans-serif;

  }


  .Player1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;

  }

  .Player2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-left: -21em;
    margin-top: 29.4em;

  }
 
   .zitonsflexp1 {    
    display: flex;
    flex-wrap: nowrap;
    margin: 20px;
    position: fixed;
    margin-left: 750px;
    }



    .zitonsflexp1 > div{
        margin-top: 4.5em;
        padding: 20px;
        left: 750px;
    }
    
   .zitonsflexp2 {    
    display: flex;
    flex-wrap: nowrap;
    margin: 20px;
    position: fixed;
    }



    .zitonsflexp2 > div{
        margin-top: 10em;
        padding: 20px;
        
    }



    .p1ziton25{
        width: 70px;
    }
    .pl1ziton25_2{
        width: 70px;
    }
    .pl1zitons100{
        width: 70px;
    }




  .flex-container1 {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    position: fixed;
    left: 750px;
    
    

  }

  .flex-container1 > div {
    background-color: #f1f1f1;
    width: 70px;
    text-align: center;
    line-height: 10px;
  }


  .flex-container2 {
    display: flex;
    flex-wrap: nowrap;
    position: fixed;

  }

  .flex-container2 > div {
    background-color: #f1f1f1;
    width: 70px;
    text-align: center;
    line-height: 10px;
  }


.score{
    border-collapse: collapse;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

th,td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid  #ddd;
}

tr:hover {background-color: aqua;}

