:root {
  --background: #5162cf;
  --darker: #1f2937;
  --darkest: #111827;
  --black: black;
  --red: red;
  --purple: #8b5cf6;

  --light: #eee;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #fff;
  background-color: var(--background);
}
body {
  min-height: 100vh;
}

header {
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.display {
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--black);
  margin-bottom: 1rem;
}
.display_2 {
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--black);
  margin-bottom: 1rem;
}

#new-task-form {
  display: flex;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#new-task-input {
  flex: 1 1 0%;
  background-color: var(--darker);
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--light);
  font-size: 1.25rem;
}

#new-task-input::placeholder {
  color: var(--grey);
}

#new-task-submit {
  background-color: white;
  padding: 8px 10px;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  transition: opacity 0.2s ease-in;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #new-task-submit:hover {
  opacity: 0.8;
}

#new-task-submit:active {
  opacity: 0.6;
} */

main {
  flex: 1 1 0%;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.task-list {
  padding: 1rem;
}

.task-list h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--black);
  margin-bottom: 1rem;
  text-align: center;
}

#tasks .task {
  display: flex;
  justify-content: space-between;
  background-color: var(--darkest);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.task .content {
  flex: 1 1 0%;
}

.task .content .text {
  color: var(--light);
  font-size: 1.125rem;
  width: 100%;
  display: block;
  transition: 0.4s;
}

.task .content .text:not(:read-only) {
  color: var(--red);
}

.task .actions {
  display: flex;
  margin: 0 -0.5rem;
}

.task .actions button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}

.task .actions button:hover {
  opacity: 0.8;
}

.task .actions button:active {
  opacity: 0.6;
}

.task .actions .done {
  color: #18dd9b;
}

.task .actions .edit {
  color: #d8e70c;
}

.task .actions .delete {
  color: crimson;
}
